
<!------ Include the above in your HEAD tag ---------->

<div class="container">

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
			<h2>Please Sign Up <small>It's free and always will be</small></h2>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
            <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1" formControlName="firstname" required>
					</div> 
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2" formControlName="lastname" required>
					</div>
				</div>
			</div>
			<div class="form-group">
        <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4" formControlName="email" required>
        <span *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched" class="help-block">
          <p id="email-invalid">Please enter a valid email address</p>
        </span>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5" formControlName="password" required>
					</div>
        </div>
        <span *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched" class="help-block">
          <p id="password-invalid">Please enter a valid password</p>
        </span>
			</div>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" [disabled]="!registerForm.valid"></div>
			</div>
		</form>
	</div>
</div>

</div>