.example-card {
    max-width: 300px;
    max-height: 300px;
  }
  
  .mat-card-image {
    height: 200px;
    width: auto;
  }
  
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    max-width: 300px;
    max-height: 300px;
  }
  