
<div class="he">
  <div class="row">
  <button mat-button (click)="onGoBack()" >
      <mat-icon>keyboard_arrow_left</mat-icon>
      Terug
  </button> 
  <button mat-button (click)="onClickAdd()">Add Category</button>
  </div>
</div>



<h3>Categories</h3>
<div class="wrapper-custom">
  <div class="container">
    <div class="row">
      <div class="col-3" *ngFor="let categories of categories" >
        <mat-card class="example-card" (click)="onClickCard(categories._id) ">
          <mat-card-header>
            <mat-card-title>{{categories.name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src= {{categories?.image}} (error) ="onImgError($event)"  >
          <mat-card-content>
            <p>

            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="onClickEdit(categories._id)">EDIT</button>
            <button mat-button (click)="onDeleteCategory(categories._id)">DELETE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>

