<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">{{ apptitle }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExample07"
      aria-controls="navbarsExample07"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
        <!-- Dashboard - always accessible to all users -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/category" [routerLinkActive]="['active']" href="#">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gear" [routerLinkActive]="['active']" href="#">GearList</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/usecase" [routerLinkActive]="['active']" href="#">Usecase</a>
        </li>
                
      </ul>

      <!-- Authentication/user profile menu -->
      <ul class="navbar-nav">
        <li *ngIf="(isLoggedIn$ | async) === false" class="nav-item">
          <a class="nav-link" routerLink="/login" href="#">Sign in</a>
        </li>
        <li *ngIf="(isLoggedIn$ | async) === false" class="nav-item">
          <a class="nav-link" routerLink="/register" href="#">Sign up</a>
        </li>

        <li *ngIf="isLoggedIn$ | async as isLoggedIn" ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link" id="user-fullname">{{ fullName }}</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="profile">
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="" (click)="onLogout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
