<div class="row">
    <div class="col">
        <h3>User</h3>
        <p>- email</p>
        <p>- password</p>
        <p>- firstname</p>
        <p>- lastname</p>
    </div>
    <div class="col">
        <h3>Item</h3>
        <p>- name</p>
 
        <p>- weight</p>

        <p>- cost</p> 
        
        <p>- description</p>
        
        <p>- short_description</p>
        
        <p>- image</p>
        
        <p>- brand: ref</p>
        
        <p>- category: ref</p>
    </div>
    <div class="col">
        <h3>Category</h3>
        <p>- name</p>
        <p>- image</p>
    </div>
    <div class="col">
        <h3>Brand</h3>
        <p>- name </p>
        <p>- image</p>
    </div>
    <div class="col">
        <h3>Gear</h3>
        <p>- title</p> 
        <p>- user:ref</p>
        <p>- category </p>
            <p>- name</p>
            <p>- items</p>
        
    </div>
  </div>
<br>
<p>Site om een lijst met hike gear samen te stellen. </p>

<p>De mogelijkheid om een lijst te maken met de hike gear die je uit een database kunt halen. </p>

<p>Mogelijkheid om categorieen en items toe te voegen, te updaten en te verwijderen. </p>

<p>Informatie opzoeken over dergelijke hiking items. </p>
