<div class="he">
    <button mat-button (click)="onGoBack()" >
        <mat-icon>keyboard_arrow_left</mat-icon>
        Terug
    </button> 
</div>

<h3>Edit Category</h3>
<div id="addQuestion" >
    <form [formGroup]="form">
      <div class="form-group" >
        <mat-form-field class="example-full-width control-expand">
          <input 
            matInput
            name="Name"
            class="form-control"
            placeholder="Naam"
            formControlName="name"
            required
          />
        </mat-form-field>
      </div>

      <div class="form-group" >
        <mat-form-field class="example-full-width control-expand">
          <input 
            matInput
            name="Image"
            class="form-control"
            placeholder="Image"
            formControlName="image"
            required
          />
        </mat-form-field>
      </div>




  
      <!-- <div class="container">
          <div class="file-upload-wrapper" data-text="Kies bestand">
            <input #categoryImage type="file" class='custom-input file-upload'>
          </div>
      </div> -->

      <br/>
    <button class="btn btn-primary" (click)="onSaveCategory()" [disabled]="form.invalid">
    Opslaan
    </button>
</form>
</div>
  