<base href="/">
<div class="he">
    <div class="row">
    <button mat-button (click)="onGoBack()" >
        <mat-icon>keyboard_arrow_left</mat-icon>
        Terug
    </button> 
    <button mat-button (click)="onClickAdd()">Add Item</button>
    </div>
  </div>
  
  
  
  <h3>Items</h3>
  <div class="wrapper-custom">
    <div class="container">
      <div class="row">
        <div class="col-3" *ngFor="let items of items" >
          <mat-card class="example-card" >
            <mat-card-header>
              <mat-card-title>{{items.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src= {{items?.image}} (error) ="onImgError($event)" (click)="onClickCard(items?._id) " >
            <mat-card-content>
              <p>
                {{items?.short_description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="onClickEdit(items._id)">EDIT</button>
              <button mat-button (click)="onClickDelete(items._id)">DELETE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  
  