.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }

  .example-card {
    max-width: 300px;
    max-height: 300px;
  }

  .mat-card-image {
    height: 200px;
    width: auto;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    max-width: 200px;
    max-height: 400px;
  }
  