<base href="/">
<div class="he">
    <button mat-button (click)="onGoBack()" >
        <mat-icon>keyboard_arrow_left</mat-icon>
        Terug
    </button> 
</div>
<h3>Edit Item</h3>
<div id="addQuestion" >
    <form [formGroup]="form">
          
      <div class="form-group">
        <mat-form-field style="width: 400px !important;">
          <mat-label>Categorie</mat-label>
  
          <mat-select name="category"  formControlName="category" required>
            <mat-option *ngFor="let categories of categories" [value]="categories?._id">
              {{ categories?.name }}
            </mat-option>

          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field style="width: 400px !important;">
          <mat-label>Merk</mat-label>
  
          <mat-select name="brand"  formControlName="brand" >
            <mat-option *ngFor="let brands of brands" [value]="brands?._id">
              {{ brands?.name }}
            </mat-option>

          </mat-select>
        </mat-form-field>
      </div>


      <div class="form-group" >
        <mat-form-field class="example-full-width control-expand">
          <input 
            matInput
            name="Name"
            class="form-control"
            placeholder="Naam"
            formControlName="name"
            required
          />
        </mat-form-field>
      </div>

      <div class="form-group" >
        <mat-form-field class="example-full-width control-expand">
          <input 
            matInput
            name="Image"
            class="form-control"
            placeholder="Image"
            formControlName="image"
          />
        </mat-form-field>
      </div>

      <div class="form-group" >
        <mat-form-field class="example-full-width control-expand">
          <input 
            matInput
            type="number"
            class="form-control"
            placeholder="Gewicht in gram"
            formControlName="weight_gram"
          />
        </mat-form-field>
      </div>

      <div class="form-group" >
        <mat-form-field class="example-full-width control-expand">
          <input 
            matInput
            class="form-control"
            placeholder="Beschrijving"
            formControlName="description"
          />
        </mat-form-field>
      </div>

      <div class="form-group" >
        <mat-form-field class="example-full-width control-expand">
          <input 
            matInput
            type="number"
            class="form-control"
            placeholder="Prijs"
            formControlName="cost"
          />
        </mat-form-field>
      </div>

      <div class="form-group" >
        <mat-form-field class="example-full-width control-expand">
          <input 
            matInput
            class="form-control"
            placeholder="Korte Beschrijving"
            formControlName="short_description"
            maxlength="20"
          />
        </mat-form-field>
      </div>






  
      <!-- <div class="container">
          <div class="file-upload-wrapper" data-text="Kies bestand">
            <input #categoryImage type="file" class='custom-input file-upload'>
          </div>
      </div> -->

      <br/>
    <button class="btn btn-primary" (click)="onSaveItem()" [disabled]="form.invalid">
    Opslaan
    </button>
</form>
</div>
  