<head>
	<meta charset="utf-8">
	<title>Siza</title>
	<base href="/">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="./assets//images//favicon.png">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  
<app-header [apptitle]='title'></app-header>

<main role="main" class="container show-outlet">
	<app-alert></app-alert>
	<router-outlet></router-outlet>
</main>
