<div class="he">
    <button mat-button (click)="onGoBack()" >
        <mat-icon>keyboard_arrow_left</mat-icon>
        Terug
    </button> 
</div>

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4" *ngFor="let items of items">
        {{items?.name}}
    </h1>
  
    <!-- Portfolio Item Row -->
    <div class="row" *ngFor="let items of items">
  
      <div class="col-md-8">
        <img class="img-fluid" src="{{items?.image}}" alt="">
      </div>
  
      <div class="col-md-4">
        <h3 class="my-3">Description</h3>
        <p>{{items?.description}}</p>
        <h3 class="my-3">Details</h3>
        <ul>
          <li>Prijs: {{items?.cost}}$</li>
          <li>Merk: {{items?.brand?.name}}</li>
          <li>Gewicht: {{items?.weight_gram}} gram</li>
        </ul>
      </div>
  
    </div>
    <!-- /.row -->
  
    <!-- Related Projects Row -->
    <h3 class="my-4">Related Projects</h3>
  
    <div class="row">
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
      </div>
  
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->