<mat-list-item *ngIf="!onPage()">
  <div mat-line> Please select or add a gear list. </div>
</mat-list-item>

<mat-list *ngFor="let gear of gear" >
    <div *ngFor="let cat of gear?.categories">
    <div class="row" >
    <div mat-subheader>{{ cat?.name }}</div>
    <button  mat-button color="warn" (click)="deleteCategory(cat?._id)" style="position: absolute; right: 150px;">Delete {{ cat?.name }}</button>
    </div>
    <mat-list-item *ngFor="let item of cat?.items" >
      <mat-icon mat-list-icon ></mat-icon>
      <button mat-raised-button color="primary" routerLink="/item/{{item?._id}}/edit">Edit</button>
      <button mat-raised-button color="warn" (click)="removeItem(cat?._id, item?._id)">Delete</button>
      <div mat-line (click)="onSelectItem(item?._id)"> Name: {{ item?.name }}  Gewicht: {{ item?.weight_gram }} gram </div>
      <div mat-line> ${{ item?.cost }} </div>
      <mat-divider></mat-divider>
    </mat-list-item>


    <div class="row">
    <div class="example-container">
      <form [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-select name="item"  formControlName="item" required>
              <mat-option *ngFor="let allitems of allitems" [value]="allitems?._id">
                {{ allitems?.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </form>
    </div>
    <div mat-line> <button mat-stroked-button (click)="addItem(cat?._id)" [disabled]="form.invalid" >Add Item</button> </div>
  </div>

    <mat-divider></mat-divider>
    <p></p>
    <mat-divider></mat-divider>
    </div>
</mat-list>

<form [formGroup]="form2" *ngIf="onPage()">
  <div class="row" >
    <mat-form-field class="example-full-width control-expand">
      <input 
        matInput
        name="Title"
        class="form-control"
        placeholder="Title"
        formControlName="categorytitle"
        required
      />
    </mat-form-field>
    <button class="btn btn-secondary" (click)="addCategory()" [disabled]="form2.invalid">
      Add Category
    </button>
  </div> 
</form>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>



<button mat-raised-button color="warn" (click)="deleteGear()">Delete gear page</button>
