<div class="he">
  <button mat-button (click)="onGoBack()" >
      <mat-icon>keyboard_arrow_left</mat-icon>
      Terug
  </button> 
</div>

<ul class="nav nav-tabs">
  <li class="nav-item"  *ngFor="let gear of gear" >
    <a class="nav-link active" routerLink="/gear/{{gear._id}}"  *ngIf="checkSame(gear._id)">{{gear.title}}</a>
    <a class="nav-link" routerLink="/gear/{{gear._id}}" *ngIf="!checkSame(gear._id)">{{gear.title}}</a>
  </li>
  <a class="nav-link" (click)="addGear()" >Add Gear</a>
</ul>

  
<app-gear></app-gear>