/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

main {
  margin-top: 80px;
}

// .show-outlet {
//   /* border: 2px solid red; */
//   /* padding: 5px; */
// }

.btn-spacing {
  margin-left: 10px;
}

// .sticky-component {
//   /* position: fixed; */
//   /* width: auto; */
// }

