<div class="he">
    <button mat-button (click)="onGoBack()" >
        <mat-icon>keyboard_arrow_left</mat-icon>
        Terug
    </button> 
</div>

<h3>Edit Gear</h3>

<div id="addQuestion" >
    <form [formGroup]="form">
      <div class="form-group" >
        <mat-form-field class="example-full-width control-expand">
          <input 
            matInput
            name="Title"
            class="form-control"
            placeholder="Title"
            formControlName="title"
            required
          />
        </mat-form-field>
      </div>      <br/>
        <button class="btn btn-primary" (click)="onSaveGear()" [disabled]="form.invalid">
        Opslaan
        </button>
    </form>
</div>
  